@import "codemirror/lib/codemirror.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #121212;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h3 {
  font-size: 85px;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke: 2px #f8e71b;
}

p {
  font-size: 24px;
  color: #fff;
  line-height: 1.3;
  margin: 10px 0 40px;
}

.editor {
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px;

  .editor-toolbar {
    padding-bottom: 15px;
    display: flex;
    align-items: center;

    .select, button, input[type="color"] {
      height: 40px;
      border: 2px solid #fff;
      background: transparent;
      color: #fff;
      padding: 0 20px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 15px;
      font-size: 15px;
      font-weight: 500;
    }

    button#line-numbers-btn.active {
      opacity: .3;
    }

    input[type="color"] {
      width: 40px;
      padding: 0 2px;
    }

    .select {
      display: flex;
      align-items: center;
      padding-right: 0;

      &.export-select {
        margin-left: auto;
        margin-right: 0;
      }

      .export-options {
        display: flex;

        span {
          padding: 0 5px;
          opacity: .5;

          &:hover {
            opacity: 1;
            color: #fff;
          }
        }
      }

      > span {
        margin-right: 20px;
        opacity: .5;
      }
    }

    select {
      appearance: none;
      height: 40px;
      padding-right: 20px;
      background: transparent;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
    }
  }

  .preview-wrapper {
    overflow: hidden;
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #121212;
      z-index: 10;
      align-items: center;
      justify-content: center;
      display: none;
    }
  }

  .preview {
    display: inline-flex;
    background: #a8b4bf;
    flex-direction: column;
    padding: 40px;
    position: relative;

    .karton-logo {
      position: absolute;
      bottom: 0;
      right: 0;
      display: none;
      width: 100%;
      height: 100%;
      font-size: 100px;
      font-weight: normal;
      color: rgba(#f8e71b, .02);
      align-items: center;
      justify-content: center;
      z-index: 9;
    }

    .preview-top {
      height: 40px;
      min-height: 40px;
      background: #151515;
      border-radius: 5px 5px 0 0;
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;

      .title {
        font-size: 14px;
        color: rgba(#fff, .5);
      }

      span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ffbd2d;
        position: relative;
        margin-left: 15px;

        &::before, &::after {
          content: '';
          width: inherit;
          height: inherit;
          border-radius: inherit;
          position: absolute;
        }

        &::before {
          left: -17px;
          background: #ff5e56;
        }

        &::after {
          right: -17px;
          background: #27c93f;
        }
      }
    }

    .CodeMirror {
      text-align: left;
      flex: 1;
      font-family: monaco;
      border-radius: 0 0 5px 5px;
      padding: 0 15px 15px;
      line-height: 1.7;
      width: auto;
      height: auto;
      resize: horizontal;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
